
/* <------ USAGE ------->
    Add the line below to Main.start()
    scene.getStylesheets().add("/edu/jhmi/cidr/lib/conveniencestore/guiutils/style/style.css"); 
    
    USAGE NOTES:
    There will be an error about not being able to find the CSS file on build (2 errors if you also add it in Scene Builder)
        but I wasn't able to supress it and it seems to find it just fine so whatever.
    It doesn't need to be added in Scene Builder but it can if you want to see the effects from there.
*/


/*
* 
* GUI DIALOG 
*
*/

.clearWhiteButton {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-cursor: hand;
}
.whiteBoldText {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 15px 15px -10px 15px;
}
.roundedCorners {
    -fx-background-radius: 15;
}
.dropShadow {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0, 3, 3);
}

/*
*
* BROWSE BUTTON
* Make sure Pref Width and Pref Height are set to 35 (and that Min/Max Width/Height are set to USE_PREF_SIZE) as they cannot be set with fx-css.
*
*/
.browseButton {
    -fx-background-color: #000000;
    -fx-background-color: linear-gradient(#E6E6E6, #999999);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4,0,0,1);
    -fx-background-radius: 20;
    -fx-background-image: url('images/folder_icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 6px 5px;
    -fx-cursor: hand;
}
.browseButton:hover, .browseButton:focused {
    -fx-background-color: linear-gradient(#FFFFFF, #999999);
}
.browseButton:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 3,0,0,0);
    -fx-background-color: linear-gradient(#999999, #E6E6E6);
}

/*
*
* GO BUTTON
*
*/
.goButton { 
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1373A3 0%, #126790 100%),
        #24819D, /* front edge lower */ 
        #3AA4D8, /* front edge upper */
        radial-gradient(center 50% 50%, radius 100%, #3AA4D8, #2CA3C5);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}
.goButton:hover, .goButton:focused { 
    /* The only difference between this and the default background color for this button is the first parameter on the radial-gradient. 
    There's just no variables in JavaFX CSS. */
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #1373A3 0%, #126790 100%),
        #24819D,
        #3AA4D8,
        radial-gradient(center 50% 50%, radius 100%, #4BB6EA, #2CA3C5); 
}
.goButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.goButton LabeledText {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #00577D , 0,0,0,2 );
}

/*
* SEARCH BOXER
*/
.searchBoxerDropshadow {
    -fx-background-color: white;
    -fx-border-color: #C2C2C2;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 3);
}

#searchBoxerDropdown .list-cell:selected {
    -fx-background-color: #ADCCF7;
}

.searchBoxerPromptText {
    -fx-text-fill: #9C9C9C;
}

/*
*
* GUI PROGRESS SCREEN PROGRESS BAR
*
*/
.gui-progress-screen-progress-bar {
    -fx-indeterminate-bar-length: 125;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-background-radius: 5;
}
.gui-progress-screen-progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}
.gui-progress-screen-progress-bar .bar {
    -fx-background-color: linear-gradient(#9BD8FA 0%, #50BDFA 25%, #0076B8 70%, #005280 100%);
    -fx-background-insets: 1;
    -fx-background-radius: 5;
}
.gui-progress-screen-progress-bar .track {
    -fx-background-color: linear-gradient(#ADADAD 0%, #C7C7C7 30%, #E6E6E6 60%, #FFF 100%);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #828282;
}

/*
*
* GUI PROGRESS SCREEN CANCEL BUTTON
*
*/
.cancelButton {
    -fx-background-color: linear-gradient(#D42000, #7A1301);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.cancelButton:hover {
    -fx-background-color: linear-gradient(#FF2700, #7A1301);
}
.cancelButton:pressed {
    -fx-background-color: linear-gradient(#7A1301, #FF2700);
}

/*
*
* REMOVABLE LIST VIEW CELL
*
*/
.removeListItemButton {
    -fx-background-color: #000000;
    -fx-background-color: linear-gradient(#FF5400, #BE1D00);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4,0,0,1);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    
}
.removeListItemButton:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 2,0,0,1);
    -fx-background-color: linear-gradient(#BE1D00, #FF5400);
}

/*
*
* OTHER STUFF
*
*/
.boundaryBox { /* For wrapping a rectangle around some fields. */
    -fx-arc-width: 15;
    -fx-arc-height: 15;
    -fx-stroke: #C4C4C4;
    -fx-fill: transparent;
}

.windowColor {
    -fx-background-color: rgb(240, 240, 240);
}

.fieldLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.descriptionLabel {
    -fx-font-size: 13px;
    -fx-text-fill: gray;
    -fx-font-weight: normal;
    -fx-font-style: italic;
}


/*
*
* TESTING
*
*/
.redBorder {
    -fx-border-color: red; 
    -fx-border-style: solid; 
    -fx-border-width: 1px;
}